body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fafaf6;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F7EF99;
  color: black;
  padding: 40px 20px;
}

.nav-bar .title {
  font-size: 2em;
  margin-bottom: 0;
  font-weight: bold;
}

.nav_table {
  color: black;
  padding: 30px;
  text-decoration: none;
  font-size: large;
}

.nav_table:hover {
  color: #0f4227;
  text-decoration: none;
}

#logout_button {
  background-color: #ABE188;
  color: black;
  border: none;
  border-radius: 5px;
  font-size: medium;
  cursor: pointer;
  transition: background-color 0.1s;
  margin-right: 20px;
  margin-left: 20px;
  padding: 10px 20px;
}

.login-window {
  background-color: #F7EF99;
  border-radius: 10px;
  max-width: 350px;
  height: 200px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: none;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: medium;
  gap: 1em;
}

.login-window input {
  width: 80%;
  height: 40px;
  border: none;
  border-radius: 5px;
  padding-left: 5%;
}

.login-window button {
  width: 80%;
  height: 40px;
  background-color: #ABE188;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.1s;
}

button:hover {
  background-color: #eac7a6;
  scale: 0.95;
}

.mainContainer p,
span {
  font-size: large;
}

.mood-history-display {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 90%;
  margin-top: 2em;
  border-radius: 10px;
  background-color: #F7EF99;
  padding: 2em;
}

.mood-history-display button {
  background-color: #ABE188;
  color: black;
  border: none;
  border-radius: 5px;
  font-size: medium;
  cursor: pointer;
  transition: background-color 0.1s;
  padding: 10px;
}

.affirmation-display {
  display: flex;
  flex-direction: column;
  width: 45%;
  height: 90%;
  margin-top: 2em;
  border-radius: 10px;
  background-color: #F7EF99;
  padding: 2em;
}

.affirmation-display img {
  height: 80%;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

#mood_overall {
  color: black;
}

.mainContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80vh;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.moodContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80vh;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

#container {
  background-color: #F7EF99;
  width: 60%;
  height: auto;
  padding: 2em;
  border-radius: 10px;
  gap: 2em;
}

.moodBtn {
  width: 100%;
  padding: 0.6em;
}

#moodSubmitBtn {
  background-color: #ABE188;
}

#box {
  flex: 25%; 
  margin: 8px;
}

@media only screen and (max-width: 880px) {
  .mainContainer {
    flex-direction: column;
    height: 100%;
    gap: 0;
  }

  .mood-history-display {
    width: 80%;
  }

  .affirmation-display {
    width: 80%;
  }

  #container {
    padding: 1em;
    margin-top: 2em;
    width: 80%;
  }

  #box {
    flex: 40%;
  }

  .nav-bar {
    padding: 20px;
  }

  .nav-bar .title {
    font-size: 1.6em;
  }

  .navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 12px;
    text-align: right;
  }

  .nav_table {
    padding: 0;
    font-size: medium;
  }

  #logout_button {
    margin-right: 0;
    padding: 5px 10px;
  }

  #affirmation_image {
    height: auto;
  }

}